<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a th:href="@{'/profile/'+${username}}">Profile</a>
        <a th:href="@{/subscribing}">Subscribing</a>
        <a th:href="@{/subscribed}">Subscribed</a>
    </nav>
</header>


<article>
    <div th:if="${!posts.isEmpty()}">
        <h1>Posts</h1>
        <div th:each="post: ${posts}">
            <h3>Author: <span th:text="${post.getAuthor()}"></span></h3>
            <h3>Label: <span th:text="${post.getLabel()}"></span></h3>
            <p>Content: <span th:text="${post.getContent()}"></span></p>
            <p>CreatedAt: <span th:text="${post.getCreatedAt()}"></span></p>
        </div>
    </div>
</article>


</body>
</html>