<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
    <title>Home</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/home.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
    </script>
</head>
<body onload="getPosts()">

<header th:replace="~{fragments/nav::nav(${username})}"></header>

<article>
    <div id="posts">
        <p th:text="${username}" id="username" hidden="hidden"></p>
        <h1>Posts</h1>
        <div class="post" id="post" hidden="hidden">
            <h3>Label: <span class="post_label"></span></h3>
            <p>Content: <span class="post_content"></span></p>
            <p>CreatedAt: <span class="post_created_at"></span></p>
            <p>Author: <a class="post_author"></a></p>
            <br>
        </div>
    </div>
    <br>
    <button onclick="getPosts()">View more</button>
</article>


</body>
</html>