<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<a th:href="@{'/profile/'+${username}}">Профиль</a>
<br>
<a th:href="@{/friends}">Друзья</a>

<form method="post" th:action="@{profile/logout}">
    <p>
        <button type="submit"><img width="30px" src="https://webstockreview.net/images250_/clipart-umbrella-5.png" alt="Logout"
                                   style="vertical-align: middle"> Logout
        </button>
    </p>
</form>

<h1>Posts</h1>
<div th:each="post: ${posts}">
    <h3>Label: <span th:text="${post.getLabel()}"></span></h3>
    <p>Content: <span th:text="${post.getContent()}"></span></p>
    <p>CreatedAt: <span th:text="${post.getCreatedAt()}"></span></p>
</div>
</body>
</html>