<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
    <title>Profiles</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/home.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
    </script>
</head>
<body onload="getProfiles()">

<header th:replace="~{fragments/nav::nav(${username})}"></header>

<article>
    <div id="profiles_section">
        <p th:text="${username}" id="username" hidden="hidden"></p>
        <h1>Profiles</h1>
        <div class="profile" id="profile" hidden="hidden">
            <h3>User: <a class="profileUsername"></a></h3>
            <p>Email: <span class="profileEmail"></span></p>
        </div>
    </div>
    <br>
    <button onclick="getProfiles()">View more</button>
</article>


</body>
</html>