<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${profile.getUsername()}"></title>
</head>
<body>
<a th:href="@{/home}">Home</a>

<br>

<h1>Profile</h1>
<p>Username: <span th:text="${profile.getUsername()}"></span></p>
<p>Email: <span th:text="${profile.getEmail()}"></span></p>
<p>PhotoUrl: <span th:text="${profile.getPhotoUrl()}"></span></p>

<br>

<form method="post" th:action="@{/posts/add}" th:object="${new_post}">
    <h1>New post</h1>
    <label>Label
        <input th:field="*{label}" placeholder="Your post label">
    </label>
    <br>
    <label>Content
        <input th:field="*{content}" placeholder="Your post content">
    </label>
    <button type="submit">Create post</button>
</form>
<br>

<div th:if="${!posts.isEmpty()}">
    <h1>Posts</h1>
    <div th:each="post: ${posts}">
        <h3>Label: <span th:text="${post.getLabel()}"></span></h3>
        <p>Content: <span th:text="${post.getContent()}"></span></p>
        <p>CreatedAt: <span th:text="${post.getCreatedAt()}"></span></p>
        <form method="post" th:action="@{/posts/delete}">
            <button type="submit" name="post_delete" th:value="${post.getCreatedAt()}">Delete post</button>
        </form>
    </div>
</div>
</body>
</html>