<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
    <title th:text="${profile.getUsername()}"></title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/profile.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
    </script>
</head>
<body onload="getPosts()">

<header th:replace="~{fragments/nav::nav(${username})}"></header>


<article>

    <h1>Profile</h1>
    <p>Username: <span th:text="${profile.getUsername()}" id="username"></span></p>
    <p>Email: <span th:text="${profile.getEmail()}"></span></p>
    <p>PhotoUrl: <span th:text="${profile.getPhotoUrl()}"></span></p>
    <form method="post" th:action="@{/subscribing/unsubscribe}">
        <button type="submit" name="to_be_unsubscribed" th:value="${profile.getUsername()}">Unsubscribe</button>
    </form>

    <br>

    <div th:if="${!subscribing.isEmpty()}">
        <h1>Subscribed on</h1>
        <div th:each="sub: ${subscribing}">
            <a th:href="@{'/profile/'+ ${sub.getUsername()}}" th:text="${sub.getUsername()}"></a>
            <p th:text="${sub.getEmail()}"></p>
            <br>
        </div>
    </div>

    <br>

    <div th:if="${!subscribed.isEmpty()}">
        <h1>Subscribed by</h1>
        <div th:each="sub: ${subscribed}">
            <a th:href="@{'/profile/'+ ${sub.getUsername()}}" th:text="${sub.getUsername()}"></a>
            <p th:text="${sub.getEmail()}"></p>
            <br>
        </div>
    </div>

    <br>

    <div id="posts">
        <h1>Posts</h1>
        <div class="post" id="post" hidden="hidden">
            <h3>Label: <span class="postLabel"></span></h3>
            <p>Content: <span class="postContent"></span></p>
            <p>CreatedAt: <span class="postCreatedAt"></span></p>
        </div>
    </div>

    <br>
    <button onclick="getPosts()">View more</button>
</article>
</body>
</html>