<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${profile.getUsername()}"></title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <a th:href="@{'/profile/'+${username}}">Profile</a>
        <a th:href="@{/subscribing}">Subscribing</a>
        <a th:href="@{/subscribed}">Subscribed</a>
    </nav>
</header>


<article>
    <h1>Profile</h1>
    <p>Username: <span th:text="${profile.getUsername()}"></span></p>
    <p>Email: <span th:text="${profile.getEmail()}"></span></p>
    <p>PhotoUrl: <span th:text="${profile.getPhotoUrl()}"></span></p>
    <form method="post" th:action="@{/subscribing/subscribe}">
        <button type="submit" name="friend_username" th:value="${profile.getUsername()}">Subscribe</button>
    </form>
    <br>

    <div th:if="${!subscribing.isEmpty()}">
        <h1>Subscribed on</h1>
        <div th:each="sub: ${subscribing}">
            <a th:href="@{'/profile/'+ ${sub}}" th:text="${sub}"></a>
        </div>
    </div>

    <div th:if="${!subscribed.isEmpty()}">
        <h1>Subscribed by</h1>
        <div th:each="sub: ${subscribed}">
            <a th:href="@{'/profile/'+ ${sub}}" th:text="${sub}"></a>
        </div>
    </div>

    <div th:if="${!posts.isEmpty()}">
        <h1>Posts</h1>
        <div th:each="post: ${posts}">
            <h3>Label: <span th:text="${post.getLabel()}"></span></h3>
            <p>Content: <span th:text="${post.getContent()}"></span></p>
            <p>CreatedAt: <span th:text="${post.getCreatedAt()}"></span></p>
        </div>
    </div>
</article>
</body>
</html>